
<ul class="nav nav-tabs  nav-justified">
  <li role="presentation" ><a href="#/note/text" ><i class="material-icons">text_format</i> Texto</a></li>
  <li role="presentation"> <a href="#/note/link" ><i class="material-icons">link</i> Link</a></li>
  <li role="presentation"><a href="#/note/file" ><i class="material-icons">attach_file</i> Archivo</a></li>
   <li role="presentation" class="active"> <a href="#/note/audio" ><i class="material-icons">audiotrack</i>Audio</a></li>
  <li role="presentation"><a href="#/note/picture"><i class="material-icons">collections_bookmark</i> Imagen</a></li>
</ul>
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
<div class="container-fluid padding-jumbotron">
  <div class="jumbotron"> 
  <p><a class="btn btn-primary btn-lg" href="#" role="button" ng-click="saveNote()">Learn more</a></p>
</div>
</div>
</div>
</div>
